html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

#Header-Text-Part{
    font-weight: 700;
    font-size: 130px;
    padding-top:20px;
    animation: fade 2s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#Header-Image-Area{
    width:650px;
    height: 450px;
    margin-top:200px;
    
}

#About-Us-Image-Part{
    width:550px;
    height: 450px;
}

#Rightside-Aboutus{
    padding-left:100px;
}

.Aboutus-Section{
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
}

.slider{
    margin-right:20px;
    flex-direction: row;
    justify-content: space-between;
    display: inline-block;;
}

.line
{
    align-items: center;
    width:90%;
    height:10px;
    border-width:2; 
    color:black !important; 
    background-color:black !important;
}

input { 
   width:50% !important;
   display:flex;
   justify-items: center !important;
}

.button{
    width: 15% !important;
    margin-left:470px;  
}

.sticky{
    top: 0;
    position: fixed;
    background-color: black;
    width:100%;
    z-index: 10;
}

.Background{
    background-color: black;
}

.HoverBox:hover{
    background-color: black;
    color: white;
}

.Scrolling-Part{
    display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin:10px;
}
.Card {
    flex: 0 0 auto;
    width:400px;
    padding:60px;
    transition: all 0.3s;
    cursor: pointer;
  }

.mobile-view-body{
    padding-left:20px;
}

.ArrowImage{
    /* Arrow 1 */
height: 30px;
margin-bottom: 40px;
border-radius: 160px;
}

#MessageBox {
    opacity: 0;
}

@media screen and (max-width:768px)
{
    .mobile-view-header-btn{
      margin-right:10px;
    }
    .Card{
        width:100px;
        height:100px;
        margin-bottom: 10px;
    }
    #Header-Image-Area{
        font-weight: 500;
        font-size: 60px;
    }

    #Header-Image-Area{
        width:300px;
        height: 150px;
        margin-top:-40px;
        padding-right:35px;
    }

    #About-Us-Image-Part{
        width:300px;
        height: 250px;
       
    }

    .mobile-view-img{
        display: flex;
        justify-content: center;
    }

    #Rightside-Aboutus{
       padding-left:0px !important;
    }

    .button{
        width: 30% !important;
        margin-left:100px;  
    }

    .mobile-view-body{
       padding-left:15px;
    }
}